@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    background-color:rgb(48, 48, 48);
}
a{
    text-decoration: none;
}
*::selection{
    background-color: #0088A9;
}
.container{
        max-width: 1209px;
        margin: 0 auto;
        padding: 0 15px;  
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container{
    padding-top: 10px;
}
.header__nav {
    display: flex;
    gap: 40px;
}
.header__logo{
    height: 50px;
}
.header__link{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.header__link:hover{
    color: #a8a8a8;
}
.header__btn{
    width: 116px;
    height: 29px;
    background: #0088A9;
    border-radius: 100px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    gap: 70px

}
.info__right{
    background-image: url(img/1.png);
    background-size: 100%;
    border-radius: 131px;
    width: 250px;
    height: 250px;

}
.info__left{
    height: 250px;
    width: 800px;
    background-color: #3f3f3f;
    border-radius: 25px;

}
.info__title{
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 25px;
}
.info__text{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 25px 55px;
}
.info__link{
    background: #0088A9;
    border-radius: 100px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 55px;
    padding: 4px 8px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}